

.general{
  max-width: 600px;
  width: 800px;
  margin: 0 auto;
}

.containerInicio{
  display: flex;
  align-items: center;
  padding-top: 25%;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
